<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"wildworld/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	
<!-- wp:pattern {"slug":"wildworld/intro"} /-->
	
<!-- wp:pattern {"slug":"wildworld/features"} /-->
	
<!-- wp:pattern {"slug":"wildworld/services"} /-->
	
<!-- wp:pattern {"slug":"wildworld/team"} /-->
	
<!-- wp:pattern {"slug":"wildworld/latest-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->