/**
 * Woocommerce Custom CSS
 */
.cart-contents {
    display: inline-block;
    position: absolute;
    margin-left: 55px;
	top: 26px;
}

.woo_log {
    position: absolute;
    right: -98px;
    top: 14px;
	color: #eee;
    opacity: 0.8;
}

.woo_log:hover {
	    opacity: 1;
}

.woo-log-s .dashicons {
	font-size: 26px;
}

.woocommerce .product .woocommerce-loop-product__title {
	text-align: center;
	padding-top: 0;
}

.woocommerce .products li:hover {
	opacity: 0.8;
}

.woocommerce ul.products li.product a img {
	margin: 0;	
}

.cart-contents .my-cart:before {
	position: relative;	
	font-size: 25px;
	text-decoration: none;
	font-family: "dashicons";
	content: "\f174";
	opacity: 0.8;
	font-weight: 100;
}

.wc-forward {
    text-align: center;
    font-size: 14px;
    padding: 0 20px 10px;
    width: 100%;
}

.cart-contents .my-cart .s-cart_num {
    position: absolute;
    z-index: 999;
    right: -12px;
    top: -5px;
    width: auto;
    height: 15px;
    background: #EC521E;
    border-radius: 50%;
    padding: 3px 4px;
    font-size: 13px;
    line-height: 8px;
    color: #fff;
}

.woo-user-panel {
    margin-top: 19px;
}

.woo-user-panel .dashicons  {
	top: 0px;
    position: relative;
	left: 5px;
	font-size: 20px;
	border-left: 1px solid #C0C0C0;
    margin-left: 8px;
    padding-left: 10px;
}

.woo-user-panel a {	
    color: #333333;
    position: relative;
}

.woo-log-s {
    position: relative;
    top: 4px;
    left: 20px;
    padding: 3px 10px;
    border-radius: 4px;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;	
}

.woocommerce-Price-amount {
	color: #666666;
}

footer .woocommerce-Price-amount {
	color: #fff;
}

.woocommerce ul.product_list_widget li img {
	margin-right: 100px;
}

.woocommerce ul.products li.product a {
	color: #9AA6AD;
}

.woocommerce ul.products li.product a:hover {
	color: #333333;	
}

.woocommerce ul.products li.product .price {
	padding-top: 10px;
	color: #9AA6AD;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
}

.woocommerce ul.products li.product .add_to_cart_button:before {
	font-family: "dashicons";
	content: "\f312";
	padding-right: 10px;
}

.woocommerce ul.products li.product .viewbutton:before {
	font-family: "dashicons";
	content: "\f177";
	padding-right: 10px;
}

.woocommerce .quantity .qty {
	padding: 5px;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce div.product form.cart .button {
	border-radius: 0 !important;
}

.woocommerce ul.products li.product .button {
	width: 100%;
	padding: 10px;
	border-top: 1px solid #eaeaea;
	margin: 0;
	background: #fff;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}

.woocommerce .star-rating span, .woocommerce p.stars a {
	color: #333;
}
.woocommerce-message::before {
	color: #26A4FF;	
}

.woocommerce-message,
.woocommerce-message::before {
	border-top-color: #26A4FF;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #EC521E;	
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce .cart .button,
 .woocommerce .cart input.button,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button {
    background: #333;
	color: #FFF;
	text-transform: uppercase;
	font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.altv,
.woocommerce input.button.alt:hover,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce .cart .button:hover,
 .woocommerce .cart input.button:hover,
.woocommerce .woocommerce-error .button:hover,
.woocommerce .woocommerce-info .button:hover,
.woocommerce .woocommerce-message .button:hover,
.woocommerce-page .woocommerce-error .button:hover,
.woocommerce-page .woocommerce-info .button:hover,
.woocommerce-page .woocommerce-message .button:hover {
	color: #FFF;	
    background: -webkit-linear-gradient(135deg,#555 30%,#333 100%);
    background: linear-gradient(135deg,#555 30%,#333 100%);
}
.woocommerce span.onsale {
	background-color: #333;	
}


.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #333;		
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #555;	
}

.woocommerce .woocommerce-ordering select {
	outline: 0;
	padding: 7px;
	border: 1px solid #eaeaea;	
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	border: 1px solid #eceef0;
}

.woocommerce ul.products li.product .star-rating {
	margin: 0 auto;	
	margin-bottom: 10px;	
	color: #FFCC00;
	font-size: 16px;
}

.woo-loginout {
	position: absolute;
	top: 20px;
	right: 60px;
	padding: 8px 16px;
	border: 1px solid #666;
	background: rgba(0,0,0,0.6);
	border-radius: 2px;
}

.woo-loginout  a {
    display: inline-block;
    color: rgba(255,255,255,0.75);
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;		
}

.woo-loginout:hover a {
    color: #eee;

}

.woo-loginout:hover {
    background: rgba(0,0,0,0.9);	
}
