/*--------------------------------------------------------------
# Background Color
--------------------------------------------------------------*/
#personal-details article .featured-content .entry-title span,
.btn:hover, 
.btn:focus,
nav.portfolio-filter ul li.active a:after,
#testimonial .testimonial-content,
input[type="submit"],
.backtotop,
#respond input[type="submit"] {
	background-color: #009999;
}

@media screen and (min-width: 1024px) {
	.main-navigation ul#primary-menu ul li.current-menu-item > a, 
	.main-navigation ul#primary-menu ul li:hover > a, 
	.main-navigation ul#primary-menu ul li:focus > a {
	    background-color: #009999;
	}
}

/*--------------------------------------------------------------
# Text Color
--------------------------------------------------------------*/
a,
.site-title a:hover, 
.site-title a:focus,
.main-navigation ul#primary-menu li.current-menu-item > a, 
.main-navigation ul#primary-menu li:hover > a, 
.main-navigation ul#primary-menu li:focus > a,
#personal-details article .featured-content .designation,
.btn,
#services .entry-title a:hover, 
#services .entry-title a:focus,
#work-experience article .entry-title a:hover, 
#work-experience article .entry-title a:focus,
.posts-wrapper article .entry-container .entry-title a:hover, 
.posts-wrapper article .entry-container .entry-title a:focus,
nav.portfolio-filter ul li.active a,
.grid .grid-item .entry-header .entry-title a:hover, 
.grid .grid-item .entry-header .entry-title a:focus,
#testimonial .testimonial-content:before,
.cat-links a,
.byline a:hover, 
#blog .posted-on a:hover, 
.byline a:focus, 
#blog .posted-on a:focus, 
.cat-links,
input[type="submit"]:hover, 
input[type="submit"]:focus,
.trail-items li a:hover, 
.trail-items li a:focus,
.archive-blog-wrapper.posts-wrapper .posted-on a:hover, 
.sticky-post-wrapper.posts-wrapper .posted-on a:hover, 
.archive-blog-wrapper.posts-wrapper .posted-on a:focus, 
.sticky-post-wrapper.posts-wrapper .posted-on a:focus,
.pagination .page-numbers.current, 
.pagination .page-numbers:hover, 
.pagination .page-numbers:focus,
#secondary .cat-links a, 
#secondary a:hover, 
#secondary a:focus,
.single-wrapper .entry-meta span a:hover, 
.single-wrapper .entry-meta span a:focus, 
.single-wrapper .cat-links a, 
.single-wrapper .entry-meta span.byline a.fn:hover, 
.single-wrapper .entry-meta span.byline a.fn:focus,
.navigation.post-navigation a:hover, 
.navigation.posts-navigation a:hover, 
.navigation.post-navigation a:focus, 
.navigation.posts-navigation a:focus,
.comment-meta .url, 
.comment-meta .fn,
.comment-metadata a:hover time, 
.comment-metadata a:focus time,
#respond input[type="submit"]:hover, 
#respond input[type="submit"]:focus {
    color: #009999;
}

.main-navigation ul#primary-menu li:hover > svg, 
.main-navigation ul#primary-menu li:focus > svg, 
.main-navigation li.menu-item-has-children:hover > a > svg, 
.main-navigation li.menu-item-has-children > a:hover > svg, 
.main-navigation li.menu-item-has-children > a:focus > svg, 
.main-navigation ul#primary-menu > li.current-menu-item > a > svg,
.main-navigation ul.nav-menu > li > a.search:hover svg.icon-search, 
.main-navigation ul.nav-menu > li > a.search:focus svg.icon-search, 
.main-navigation li.search-menu a:hover svg, 
.main-navigation li.search-menu a:focus svg,
.main-navigation li.search-menu a.search-active svg,
#services .entry-title svg,
.widget_search form.search-form button.search-submit:hover svg, 
.widget_search form.search-form button.search-submit:focus svg,
.navigation.post-navigation a:hover svg, 
.navigation.posts-navigation a:hover svg, 
.navigation.post-navigation a:focus svg, 
.navigation.posts-navigation a:focus svg {
	fill: #009999;
}



/*--------------------------------------------------------------
# Border Color
--------------------------------------------------------------*/
#personal-details article .featured-content .entry-title span:before {
	border-right-color: #009999;
}
.btn:hover, 
.btn:focus,
input[type="submit"],
.pagination .page-numbers.current, 
.pagination .page-numbers:hover, 
.pagination .page-numbers:focus,
#respond input[type="submit"] {
	border-color: #009999;
}

@media screen and (min-width: 1024px) {
	.main-navigation form.search-form {
	    border-color: #009999;
	}
	#search:before {
		border-bottom-color: #009999;
	}
}

/*--------------------------------------------------------------
# Buttons Color
--------------------------------------------------------------*/
.btn,
input[type="submit"]:hover, 
input[type="submit"]:focus,
#respond input[type="submit"]:hover, 
#respond input[type="submit"]:focus {
	background-color: #d0f1f1;
	border-color: #d0f1f1
}

.slick-prev:before, 
.slick-next:before {
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.pagination a:hover img, 
.pagination a:focus img {
    opacity: 1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*--------------------------------------------------------------
# Preloader Color
--------------------------------------------------------------*/
@keyframes preloader {
    0% {height:5px;transform:translateY(0px);background: #009999;}
    25% {height:30px;transform:translateY(15px);background: #009999;}
    50% {height:5px;transform:translateY(0px);background: #009999;}
    100% {height:5px;transform:translateY(0px);background: #009999;}
}